h2{
  text-align: center;
  color: darkred;
  border-width:1px;
  border-style:dotted;
  border-color:black;




}



h2:hover {
  background-color: ButtonText;


}

.author {
  text-align: center;
  font-style : italic;

}

.comment {
  text-align: center;


}


.even {
  color: cornflowerblue;
}

.odd {
  color: forestgreen;
}

