.even {
  color: cornflowerblue;
  Font-Weight: Bold;
}

.odd {
  color: forestgreen;
  Font-Weight: Bold;
}

body {
  background-color: silver;
}

div {

  background-color: silver;

}

h2 {
  color: gold;
  font-family: American Typewriter, serif;
  font-size: 2.5em;

  font-weight: normal;
  text-align: center;
  padding: 1% 5% 1% 5%;
  margin: 0% 30.5% 1% 30.5%;
  border: 1px solid #e7e2d7;
  border-radius: 0px;
  -webkit-border-radius: .8em;
  -moz-border-radius: .8em;

  display: block;
  position: relative;

  animation: cos 5s infinite linear alternate;

}

@keyframes cos {
  0% {
    transform: rotate3d(1, 1,1, 360deg);
    left: 30px;
    bottom: 30px;

  }
  100% {
    transform: rotate3d(1, 1, 1, -360deg);
    left: -30px;
    bottom: -30px;

  }
}

h3 {
  color: darkred;
}
